@model IEnumerable<Yemek.Entity.ViewModel.ViewMenu>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsSelected)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Datetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsSelected)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Datetime)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Ajax.ActionLink("Sil", "Delete", new { id = item.MenuID },new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "menuList", OnFailure = "onDeleteError", })
           
        </td>
    </tr>
}

</table>

<script>
    function onDeleteError(er)
    {
        debugger
    }

</script>