
@{
    ViewBag.Title = "ProductDetails";
}

<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="@Model.ProductPhoto" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>@Model.Brand</h3>
        <h4>@Model.ProductName</h4>
        <p>@Model.ProductContent</p>
        <p>@Model.Price</p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    </div>

