
@{
    ViewBag.Title = "BookDeatails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <form role="form" method="post">

        <input type="hidden" name="BookID" value="@Model.BookID" />
        <input type="hidden" name="PhotoUrl" value="@Model.BookPhotoURL" />
        <input type="hidden" name="BookName" value="@Model.BookName" />

        <div class="row">
            <div class="photo">
                <img class="image"
                     img-responsive"
                     src="@Model.BookPhotoURL" />
            </div>

         

        </div>
        <br />
        <br />
        <div class="row">
            <div class="detail col-lg-9">
                <div class="thumbnail">
                    <div class="caption-full">
                        <p class="book-name">
                            <a href="#"
                               name="BookName">
                                @Model.BookName
                            </a>
                        </p>
                        <p class="who">
                            <strong>Yazar : </strong>
                            <a name="WriterName"
                               target="_blank"
                               href="/Home/Writer/@Model.WriterID">
                                @Model.WriterName
                            </a>
                        </p>

                        <p name="BookSubject">
                        @Model.BookSubject</
                          
                        </p>
                        <br />
                        <div class="row">
                            <div class="col-lg-3 col-lg-offset-5  text-right">

                                <input type="hidden"
                                       value="@Model.Price"
                                       name="Price" />
                                <h3>
                                    <strong>@Model.Price TL</strong>
                                </h3>
                            </div>
                            <div> 
                                <label>Adet:</label><input type="number" min="1" value="1"  name="BookCount" />
                                     
                            </div>
                            <div class="col-lg-1">
                                <button type="submit"
                                        class="myBtn btn btn-lg">
                                    SEPETE EKLE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





