@{
    ViewBag.Title = "Sepetim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container">
    <p class="lead">SEPETİM</p>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <td>ÜRÜN</td>             
                <td>ADET</td>
                <td>TOPLAM FİYAT</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in ViewBag.Liste)
                {
                    <tr class="product-row">
                        <td class="product-col">
                            <figure>
                                <img src="@item.BookPhotoURL" alt="">
                            </figure>
                        </td>
                        <td>
                            <p class="product-name">
                                <a title="" href="/Home/BookDetails/@item.BookID"></a>@item.BookName
                            </p>
                            <h5 class="product-cat">Medya Tipi: İnce Kapak</h5>
                        </td>
                        <td>
                            <h4 class="quantity">@item.BookCount</h4>
                        </td>
                        <td>
                            <h4 class="price">@item.Price TL</h4>
                        </td>
                    </tr>
                }
            }

            <tr>
                <td>
                    @{
                        decimal Total = 0;
                        foreach (var item in ViewBag.Liste)
                        {
                            Total += item.TotalPrice;
                        }
                    }
                    <h2>@Total TL</h2>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="row">
        <form role="form" method="post">
            <input class="total" type="hidden" value="@Total" name="Total" />

            <div class="col-lg-offset-8">
                <button type="submit" class="buyBtn">SATIN AL</button>
            </div>

        </form>
    </div>

</div> 