@model  List<Yemek.Entity.Model.Product>


@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Yazı Bilgileri
            </div>

            @using (Html.BeginForm("Add", "Admin", FormMethod.Post))
            {

                @*for (int i = 0; i <Model.Count(); i++)
                    {
                        @Html.CheckBoxFor(m=>m.Products[i].IsSelected) @Model.Products[i].ProductName;
                    }*@
            for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(it => it[i].ProductID)
                @Html.EditorFor(it => it[i].IsSelected)  @Model[i].ProductName
                <br />
                @*@Html.HiddenFor(it => it[i].ProductName)
                @Html.HiddenFor(it => it[i].ProductType)
                @Html.HiddenFor(it => it[i].ProductPrice)*@

                @*@Html.CheckBoxFor(m => m.) @item.ProductName;<br />*@

            }
            <button type="submit"
                    class="btn btn-primary btn-block">
                Kaydet
            </button>
            }

        </div>
    </div>
</div>

<script>
    $('.form-group input').attr('class', 'form-control')
</script>


    

















